/* Enter CSS below */

html {
  font-weight: 200;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: #641A40;
}

a {
  color: #C87BA1;
  cursor: pointer;
}

a:hover {
  text-decoration: none !important;
  color: #641A40;
}

#content {
	margin-top: 80px;
}

@media(max-width:767px) {
  #content {
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
}


/******* Navbar *******/

#brand {
  height: 60px;
}

.navbar-nav li a {
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.navbar-nav li a:hover {
  font-size: 20px;
  margin: 0 15px 0 25px;
  font-weight: 500;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-default {
  background-color: white;
  border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #C87BA1;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #641A40;
}

.navbar-nav>li>a {
    padding-top: 35px;
    padding-bottom: 30px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-brand {
  color: black;
}

.menu-position {
  float: right;
}

@media(max-width:767px) {
  .container-fluid>.navbar-collapse {
    width: 100%;
    text-align: center;
  }

  .navbar-nav>li>a {
    font-weight: 300;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .navbar-header {
    width: 85%;
    text-align: center;
    padding-top: 8px;
  }

  .navbar-brand {
    float: none;
    padding-top: 100px;
  } 

  .navbar-toggle {
    margin-top: 2px;
  }

  .navbar-brand-mobile {
    float: none;
  } 

  #brand-mobile {
    width: 40px;
  }

  .menu-position {
    float: left;
  } 
}


/******* Sidebar *******/

.home-sidebar {
  text-align: center;
}

.home-sidebar .iphone {
  z-index: 999;
  position: relative;
}

.home-sidebar .sun {
  margin-top: -470px;
  z-index: 1;
  position: relative;
  height: 250px;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
 -webkit-animation-name: spin;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.zoom {
  height: 10px !important;
  visibility: visible;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
 }

.article-preview img {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  opacity: 0.8;
  transition: opacity 0.6 1s ease;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media(max-width:767px) {
 .article-preview img {
   height: 200px;
  }
}

.article-preview img:hover {
  opacity: 1; 
  border-radius: 0 0 0 35px;
}





.home-sidebar .instagram{
  margin-top: 5px;
  width: 50%;
}

.home-sidebar .sidebar-img-margin {
  margin-bottom: 50px;
}

.home-sidebar h3 {
  line-height: 1.2;
  margin-bottom: 30px;
}

.home-sidebar .app-btn {
  margin-bottom: 15px;
  width: 70%;
}

.home-sidebar img {
  width: 250px;
}

/****** Main Page *******/


.main-image {
  background: url("../img/articles/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
  cursor: pointer;
  margin-bottom: 50px;
  line-height: 400px;
  opacity: 1;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.main-img-read {
  float: right;
  margin-top: -100px;
  margin-right: 35px;
  text-align: center;
  color: #C87BA1;
  font-weight: 500;
}

.main-image:hover {
  background: url("../img/articles/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9; 
  border-radius: 0 0 200px 0;
}

.main-title {
  font-size: 30px;
  font-weight: 800;
  color: white;
  height: 100%;
  text-transform: uppercase;
  vertical-align: middle;
}

.hr-circle {
  height: 15px;
  width: 15px;
  background-color: white;
  float: right;
  margin-top: -28px;
  border-radius: 100%;
  border: 1.5px solid #eee;
}

@media(max-width:767px){
  .main-image {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/articles/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    line-height: 300px
  }  

  .main-title {
    font-size: 20px;
  }

  .sub-image {
    width: 100%;
  }
}

.box {
  background: grey;
  height: 200px;
  margin-bottom: 10px;
}


/******* Article *******/

.article-preview {
  border-bottom: 3px solid #eee;
  border-right: 3px solid #eee;
  padding: 50px 0;
}

.article-preview .article-circle-right {
  height: 35px;
  width: 35px;
  background-color: white;
  float: right;
  margin-top: -70px;
  margin-right: -19px;
  border-radius: 100%;
  border: 3px solid #eee;
}

.article-preview .article-circle-left {
  height: 35px;
  width: 35px;
  background-color: white;
  float: left;
  margin-top: -70px;
  margin-right: -19px;
  border-radius: 100%;
  border: 3px solid #eee;
}

.article-preview img {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  opacity: 0.8;
  transition: opacity 0.6 1s ease;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media(max-width:767px) {
 .article-preview img {
   height: 200px;
  }
}

.article-preview img:hover {
  opacity: 1; 
  border-radius: 0 0 0 35px;
}


/******* Footer *******/

footer i {
  margin-right: 15px;
  color: #641A40;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer i:hover {
  transform: rotate(30deg);
  transition: all 200ms ease;
  -o-transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer {
  padding: 30px 0; 
  margin-top: 50px;
}