/* Enter CSS below */

html {
  font-weight: 200;
}

#content {
	margin-top: 100px;
}

/******* Navbar *******/

#brand {
  height: 60px;
}

.navbar-default {
  background-color: white;
  border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #C87BA1;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #641A40;
}

.navbar-nav>li>a {
    padding-top: 35px;
    padding-bottom: 30px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-brand {
  color: black;
}

.menu-position {
  float: right;
}

@media(max-width:767px) {
  .menu-position {
    float: left;
  }  
}

@media(max-width:767px) {
  .navbar-header {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .navbar-brand {
    float: none;
    padding-top: 100px;
  }  

  .navbar-toggle {
    margin-top: -7px;
  }
}

/******* Footer *******/

footer i {
  margin-right: 15px;
  color: #641A40;
}


/*********************/

.box {
  background: grey;
  height: 200px;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 50px
}
